<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Форум</title>
<link href="{{ url_for('static', filename='css/multiColumnTemplate.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <header>
    <div class="primary_header">
      <h1 class="title"></h1>
    </div>
    <nav class="secondary_header" id="menu">
      <ul>
		  <li><a href=/homepage>ГЛАВНАЯ</a></li>
		  <li><a href=/index>ЛЕНТА</a></li>
		  <li><a href=/index_builds>БИЛДЫ</a></li>
		  <li><a href=/index_teams>КОМАНДЫ</a></li>
		  {% if user.is_authenticated %}
		  <li><a href=/profile>ПРОФИЛЬ</a></li>
		  <li><a href=/logout>ВЫХОД</a></li>
		  {% else %}
		  <li><a href=/register>РЕГИСТРАЦИЯ</a></li>
		  <li><a href=/login>ВХОД</a></li>
		  {% endif %}
      </ul>
    </nav>
  </header>
	<h3><center>Правило 1 – Сочетание стихий</center></h3>
      <p>Понимание того, как сочетаются друг с другом разные элементы является важной составляющей игры. При их комбинировании каждая стихия будет давать различный эффект. «Сверхпроводимость» (Superconduct), например, наносит дополнительный урон и снижает сопротивляемость противника к физическому урону, что делает ее очень полезной в группах, наносящих значительные физические повреждения.</p>
      <p>С другой стороны, «Перегрузка» (Overload) и «Электрический заряд» (Electro-charged) не имеют дополнительных бонусов, но при этом наносят огромный элементальный урон, поэтому отлично подходят для команд, ориентированных на стихии. Ниже мы подробно рассмотрим все элементы и их комбинации.</p>
    <center><img src="{{ url_for('static', filename='images/1.jpg') }}" alt="" width="850" height="500"/></center>
 	<h3>Эффекты стихий</h3>
	<ul>
		<a>Каждый элемент в Genshin Impact по-разному влияет на ваших врагов.</a>
		<p></p>
		<li>Поглощающий шторм (Электро) – непрерывно истощает заряд энергии. </li>
		<li>Замедляющая вода (Гидро) – увеличивает длительность кулдауна (восстановления) умений. </li>
		<li>Тлеющее пламя (Пиро) – непрерывно наносит фиксированный урон. </li>
		<li>Уплотненный лед (Крио) – увеличивает расход выносливости.</li>
  </ul>
	<h3>Взаимодействие стихий</h3>
	<ul>
		<a>Сочетание различных элементов в бою - ключ к успеху в игре.</a>
		<p></p>
		<li>Горение = Дендро + Пиро: наносит повреждения огнем на протяжении определенного отрезка времени.  </li>
		<li>Кристаллизация = Гео + Крио/Электро/Гидро/Пиро: создает кристалл, который будет служить щитом при поднятии.</li>
		<li>Заряжен = Электро + Гидро: наносит повреждения электричеством на протяжении определенного отрезка времени. </li>
		<li>Заморозка = Крио + Гидро: цель превращается в ледышку. </li>
		<li>Таяние = Крио + Пиро: наносит дополнительные повреждения. </li>
		<li>Перегрузка = Электро + Пиро: наносит повреждения огнем по области.  </li>
		<li>Суперпроводник = Крио + Электро: наносит урон холодом по области и уменьшает сопротивляемость цели к физическому урону на 50%. </li>
		<li>Рассеивание = Анемо + Крио/Электро/Гидро/Пиро: наносит дополнительные повреждения стихией и накладывает эффект по области. </li>
		<li>Пар = Гидро + Пиро: наносит дополнительные повреждения.</li>
  </ul>
  <h3>Резонанс стихий</h3>
	<ul>
		<a>Когда у вас будет полная группа, вы получите дополнительные эффекты, соответствующие типам элементов, имеющимся в команде.</a>
		<p></p>
		<li>Несокрушимая скала (требуется Гео x2) – повышает устойчивость к прерыванию умений. Когда герой защищен щитом, его атакующий урон увеличивается на 15%. </li>
		<li>Воодушевляющее пламя (требуется Пиро x2) – негативный эффект от холода держится на 40% меньше времени. Повышает уровень атаки на 25%. </li>
		<li>Успокаивающие воды (требуется Гидро x2) – негативный эффект от огня держится на 40% меньше времени. Повышает эффект от лечения на 30%. </li>
		<li>Бушующий ветер (требуется Анемо x2) – снижает затраты выносливости на 15%. Повышает скорость перемещения на 10%. Сокращает время восстановления навыков на 5%.</li>
		<li>Высокое напряжение (требуется Электро x2) – негативный эффект от воды держится на 40% меньше времени. Сверхпроводимость, Перегрузка и Электрический заряд имеют 100-процентную вероятность создать Электрическую элементальную частицу (восстановление: 5 секунд). </li>
		<li>Сокрушающий лед (требуется Крио x2) – негативный эффект от электричества держится на 40% меньше времени. На 15% повышает шанс нанесения критического удара при атаке врагов, которые заморожены или на них действует холод. </li>
		<li>Защитный навес (требуются любые 4 уникальные стихии) – повышает сопротивляемость ко всем элементам на 15%.</li>
		</ul>
	<h2><center>Правило 2 – Восстановление энергии</center></h2>
	<p>Нанесение урона, уничтожение врагов и использование стихийных умений (E) на противниках будут генерировать сферы, которые восстанавливают энергию ваших персонажей, позволяя им использовать стихийные взрывы (Q). К некоторым шарам прикрепляется элемент, и они будут давать больше энергии персонажам той же стихии.</p>
	<center><img src="{{ url_for('static', filename='images/2.jpg') }}" alt="" width="850" height="500"/></center>
	<p>По этой причине рекомендуется иметь в команде двух персонажей одного и того элемента, причем один из них должен быть вашим основным дамагером (наносить максимум урона). Этот эффект в сочетании с бонусом, который вы получите через резонанс стихий, значительно увеличит силу вашей группы.</p>
	<h2><center>Правило 3 – Роли</center></h2>
	<p>Условно всех персонажей в игре можно распределить по 3-м основным ролям: основной дамагер (DPS), второстепенный дамагер и поддержка.</p>
	<h3>Основной DPS</h3>
	<p>Именно данный персонаж будет наносить основной урон вашим противникам и заполнять пробелы в атаке команды с помощью своих обычных и заряженных атак или быстро восстанавливаемых навыков, когда у остальных членов отряда умения находятся на перезарядке. Поэтому большую часть времени вы будете играть именно за данных героев.</p>
	<p>Ниже представлен список всех основных дамагеров и их эффективность: S-ранга – самые сильные, а D-ранга – наиболее слабые.</p>
	<center><img src="{{ url_for('static', filename='images/3.jpg') }}" alt="" width="850" height="500"/></center>
	<h3>Второстепенный DPS</h3>
	<p>Дополнительный источник урона и ваш основной тригер стихийных реакций. Обычно последние реализуются через элементальные умения (E) и взрывы стихии (Q) персонажей. Самыми сильными героями в этом случае являются те, которым требуется очень мало времени на перезарядку умений и чьи способности сохраняются при переключении на другого бойца. «Атака Гобы» Сян Лин и «Тень расправленных крыльев» Фишль являются яркими примерами подобных навыков.</p>
	<p>Идеальная команда должна включать в себя второстепенного дамагера с таким же элементом, что и у основного, а также дополнительного DPS, стихия которого позволит создавать мощные элементальные реакции на основе стихии ведущего ДД. Ниже представлен список лучших персонажей подобного типа.</p>
	<center><img src="{{ url_for('static', filename='images/4.jpg') }}" alt="" width="850" height="500"/></center>
	<h3>Поддержка</h3>
	<p>В эту категорию можно включить всех целителей, бафферов и контролеров. При прохождении основного сюжета советуем вам иметь в команде хотя бы одного хилера – это даст вам возможность поддерживать здоровье своих персонажей, не прибегая к еде. Без лекарей также трудно обойтись на сложных уровнях Бездны. В остальных случаях можно брать персонажа поддержки без лечебных умений. Tier-list:</p>
	<center><img src="{{ url_for('static', filename='images/5.jpg') }}" alt="" width="850" height="500"/></center>
	<p>Впрочем, вы можете максимизировать эффективность любого персонажа, чтобы команда соответствовала вашим потребностям. Вам даже не нужно иметь 2-х героев одного и того же элемента, если вам этого не хочется. У вас просто снизится скорость восстановления энергии, но, возможно, вы получите другое преимущество, которое окажется решающим в конкретной ситуации. Поэтому если вам понравился какой-то персонаж, то не нужно сразу же выбрасывать его из группы, гонясь за идеальными цифрами.</p>
  <footer class="secondary_header footer">
  </footer>
	<p></p>
</div>
</body>
</html>
