<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Профиль</title>
<link href="{{ url_for('static', filename='css/simpleGridTemplate.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <header class="header">
    <h4 class="logo"></h4>
    <h3 align="right"> <a href=/homepage>Назад</a></h3>
  </header>
  <section class="intro">
    <div class="column">
      <h3>{{user.name}}</h3>
      <h5 style="color:#FFFFFF">{{user.email}}</h5>
      <img src="{{ url_for('static', filename='profile_pics/default.jpg')}}" alt="" class="profile">
      <h4>Сменить аватарку</h4>
      <input type="file" class="form-control-file" id="exampleFormControlFile1"><br>
      <button>загрузить</button>
      </div>
    <div class="column">
      <h3>О Вас</h3>
      <p style="color:#FFFFFF">{{user.about}}</p>
      <p style="color:#6DC7D0">этот текст нужен чтобы выровнять подложку этот текст нужен чтобы выровнять подложку этот текст нужен чтобы выровнять подложку этот текст нужен чтобы выровнять подложку </p>
    </div>
  </section>
  <div>
    <div class="thumbnail"></a>
      <h4><a href=/build_post>БИЛД</a></h4>
      <p>составить билд</p>
    </div>
    <div class="thumbnail"> <a href="#"></a>
      <h4><a href=/team_post>КОМАНДА</a></h4>
      <p>составить команду</p>
    </div>
    <div class="thumbnail">
      <h4><a href=/post>ПОСТ</a></h4>
      <p>составить обычный пост</p>
  </div>
    <div class="thumbnail"> <a href="#"></a>
      <h4><a href=/logout>ВЫХОД</a></h4>
    </div>

</div>
</div>
</body>
</html>
